body {
  background-color:#93e7e7;
}
h1{
  color: rgb(16, 84, 116);
}

h3{
  color: rgb(16, 84, 116);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color:  #FFE4C4;
  border-width: 4px;
  width: 5%;
}
